

@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.do-product {
    width: 240px;
    height: 108px;
   display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: #FFFFFF;
    box-shadow: 0px 6px 25px rgba(6, 5, 50, 0.05);
    border-radius: 10px;

}
.do-product__img {
    margin: 14px 0 14px 18px;
}
.do-product__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.do-product__title-font {
    font-family: Nunito,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}
.do-product__price {
    font-family: Nunito,sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
}

.do-product:hover {
    width: 250px;
    height: 104px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(6, 5, 50, 0.05);
    border-radius: 10px;
}

    /*Buttons  */

.do-button-basket {
    width: 104px;
    height: 40px;
    background: #f96900;
    border-radius: 1000px;
    border: none;
    font-family: Nunito,sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}
.do-button-basket:hover {
    background: #ED5D08;
}

.do-button-enter {
    width: 70px;
    height: 32px;
    background: #F3F3F7;
    border-radius: 1000px;
    border: none;
    font-family: Nunito,sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #5C6370;
}
.do-button-enter:hover {
    color: #000;
}

.do-button-in_basket {
    width: 120px;
    height: 40px;
    background: #FFF0E6;
    border-radius: 1000px;
    border: none;
    font-family: Nunito,sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #D15700;
}

.do-button-in_basket:hover {
    color: #D55406;
    background: #FFD0B2;
}

.do-button-add {
    width: 120px;
    height: 40px;
    border: none;
    background: #F3F3F7;
    border-radius: 1000px;
    font-family: Nunito,sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #73798C;
}
.do-button-add-minus {
    margin: 10px 0 -11px 9px;
    width: 8px;
    border: 1px solid #73798C;
}
.do-button-add-plus {
    margin: 0 -40px 2px 30px;
}
.do-button-add-plus:hover {
    background-image: url("img/plus.png");
}


.do-main-slider {
    width: 1060px;
    height: 300px;
    border-radius: 20px;
}
.do-main-slider:hover {
    background-image: url("img/mainh.png");
}

/*
cards
 */
 .do-main_mob-card {
     margin: 0 auto;
     width: 288px;
     height:auto;
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;

 }
 .do-main_mob-card__title {
     margin: 0 0 0 7px;
 }
 .do-main_mob-card__title-font {
     font-family: Nunito,sans-serif;
     font-style: normal;
     font-weight: 600;
     font-size: 18px;
     line-height: 20px;
     color: #000000;
 }
 .do-main_mob-card__text {
     font-family: Nunito,sans-serif;
     font-style: normal;
     font-weight: normal;
     font-size: 12px;
     line-height: 16px;
     color: #73798C;
 }
 .do-main_mob-card__btn {
     width: 96px;
     height: 32px;
     background: #FFF0E6;
     border-radius: 1000px;
     border: none;
     font-family: Nunito,sans-serif;
     font-style: normal;
     font-weight: 600;
     font-size: 14px;
     line-height: 19px;
     text-align: center;
     color: #D15700;
 }
 .do-main_mob-card__btn:hover {
     background: #F96900;
     color: #FFF;
 }
.do-main_mob-card__btn:active {
    background-color: #34f3f3;
    color: #550515;
}

.static-menu {
    width: 1060px;
    height: 116px;
}
.do-horiz-menu {
    width: 805px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.do-horiz-menu__item {
    text-decoration: none;
    font-family: Nunito,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
}
.do-horiz-menu__item:hover {
    color: #F96900;
}
.do-desk-logo {
    width: 765px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.do-main-logo {
    width: 248px;
    height: 48px;
    margin: 15px -10px 0 20px;
}
.do-main-logo-logo {
    margin: 20px 8px -22px 2px;
}
.do-main-logo-text {
    margin: 6px 0 0 56px;
    font-family: Nunito,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #343434;
}
.delivery {
    margin: 35px 0 0 20px;
    width: 211px;
}
.delivery-title {
    margin: 0 0 -6px 14px;
    font-family: Nunito,sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}
.delivery-title-yellow {
    color: #F96900;
}
.delivery-time {
    margin: -25px 0 0 15px;
    font-family: Nunito,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
}
.delivery-time-dot {
    margin: 0 0 4px 0;
}
.delivery-time-star {
    margin: 0 0 -1px -2px;
}
.tel-title {

    font-family: Nunito,sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}
.tel-text {
    margin: -3px 0 0 0;
    font-family: Nunito,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #999999;
}


