@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

@media (min-width: 1024px) {

    .do-desk {
        width: 100%;
    }
}
@media (min-width: 0px) and (max-width: 1024px) {
    .do-desk {
        display: none;
    }

    .horiz-menu__btn {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: end;
        padding: 0;
        margin: 41px 0 0 16px;
    }

    .do-horiz-menu__btn-item {
        background: #F3F3F7;
        border-radius: 100px;
        font-family: Nunito, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        color: #464C55;
        border: none;
    }

    .do-horiz-menu__btn-item:hover {
        background: #FFF0E6;
        border-radius: 100px;
        color: #D15700;
        font-weight: 600;
    }

    .sliders {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .prod-card-block {
        height: 370px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .prod-card {
        width: 250px;
    }


    .prod-card-title-font {
        font-family: Nunito, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 27px;
        color: #000000;
    }

    .prod-card-text {
        font-family: Nunito, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        color: #73798C;
    }

}
    @media (min-width: 1024px) {

        .do-desk-down {
            margin: 0 auto;
            width: 1060px;
            height: 438px;
        }

.do-desk-down-title {
    font-family: Nunito,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    color: #000000;
}
        .down-info {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            list-style: none;
            padding: 0;
        }
        .down-info-block {
            width: 250px;
            height: 354px;
        }
.down-info-block-title {
    width: 229px;
    height: 78px;
    display: inline;
    font-family: Nunito,sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    color: #F96900;
}
.down-info-block-text {
    width: 229px;
    height: 260px;
    font-family: Nunito,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}


        .do-desk-footer {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background: #464C55;
        }

        .do-desk-footer-section {
            box-sizing: border-box;
            width: 100%;
            height: 339px;
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

        .section-top {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            height: 217px;
        }
    }
        .block-dodo {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 137px;
            height: 170px;
        }

        .block-work {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 130px;
            height: 150px;
        }

        .block-partners {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 154px;
            height: 196px;
            margin: 0 0 0 -25px;
        }

        .block-interest {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 155px;
            height: 173px;
            margin: 0 0 0 -25px;

        }

        .block-title {
            height: 24px;
            font-family: Nunito, sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            color: #FFFFFF;
            text-decoration: none;
            margin: 7px 0 -22px 0;
        }

        .block-text {
            font-family: Nunito, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: #FFFFFF;
            opacity: 0.7;
            text-decoration: none;
        }

        .contacts {
            height: 217px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }
.footer-img {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    width: 301px;
    height: 60px;
    margin: 10px 0 0 0;
}

.tel-number {
    height: 26px;
    font-family: Nunito,sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 26px;
    text-align: right;
    color: #FFFFFF;
    margin: 15px 0 0 0;
}
.tel-text {
    height: 20px;
    margin: 0 0 40px 0;
    font-family: Nunito,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    text-align: right;
    color: #FFFFFF;
    opacity: 0.9;
}
.footer-mail {
    height: 20px;
    font-family: Nunito,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    text-align: right;
    text-decoration: none;
    color: #FFFFFF;
    opacity: 0.9;
    margin: 0 0 30px 0;
}

.main-info-title {
    margin: 0;
    width: 199px;
    height: 26px;
    font-family: Nunito,sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 26px;
    color: #FFFFFF;
}
.main-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.main-info-block {
    height: 122px;
}

.main-info-text {
    margin: 0;
    width: 299px;
    height: 44px;
    font-family: Nunito,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    opacity: 0.7;
}
.section-line {
    width: 1060px;
    height: 0px;
    opacity: 0.2;
    border: 1px solid #FFFFFF;
}
.section-down {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 90px;
}
.section-down-copy {
    width: 276px;
    height: 22px;
    margin: 20px 0 0 16px;
}
.section-down-text {
    font-family: Nunito, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.7;
    text-decoration: none;
}
.section-down-img {
    width: 184px;
    height: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 20px 0 0 16px;
}












