
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

@media (min-width: 1024px) {
   .hamburger-menu {
       width: 768px;
       display: none;
   }
}

@media (min-width: 0px) {
    .menu__box {
        position: fixed;
        visibility: hidden;
        top: 0;
        left: -100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        background-color: #000;
        width: inherit;
    }
    .menu__item {
        display: block;
        padding: 12px 24px;
        text-decoration: none;
        font-family: Nunito,sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 27px;
        color: #FFFFFF;
    }

}

.hamburger-menu {
    box-sizing: border-box;
    width: 100%;
}


#menu__toggle {
    opacity: 0;
}

.menu__btn {
    display: flex; /* используем flex для центрирования содержимого */
    align-items: center;  /* центрируем содержимое кнопки */
    position: fixed;
    top: 10px;
    right: 50px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}
.menu__btn-position {
    right: 17px;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 26px;
    height: 2px;
    background-color: #FFF;
}
.menu__btn > span::before {
    content: '';
    top: -8px;
}
.menu__btn > span::after {
    content: '';
    top: 8px;
}
.menu-line {
    width: 100%;
    opacity: 0.2;
    border: 1px solid #FFFFFF;
}
/* контейнер меню */
@media (min-width: 321px) {

    .menu__box {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: -100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        background-color: #000;
        width: inherit;
    }

    /* элементы меню */
    .menu__item {
        display: block;
        padding: 12px 24px;
        text-decoration: none;
        font-family: Nunito, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 27px;
        color: #FFFFFF;
        margin: 0 0 0 44px;
    }
}
#menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left:  0;
}

.menu-icon-tel {
    margin: 31px 0 0 16px;
}

.number {
    font-family: Nunito,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    margin: -27px 0 0 27px;
}
.menu-icon-tel-text {
    font-family: Nunito,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #FFFFFF;
    opacity: 0.3;
    margin: 0 0 0 27px;
}
.menu-icon-apple-number {
    font-family: Nunito,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    margin: -27px 0 0 33px;
}
.menu-icon-apple-text {
    font-family: Nunito,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #FFFFFF;
    opacity: 0.3;
    margin: 0 0 0 33px;
}
.menu-icon-apple {
    margin: 20px 0 0 7px;
}
.icons-menu {
    margin: -65px 0 15px 15px;
}
.icons-dodo {
    width: 53px;
    height: 14px;
    color: #FFF;
}
.icons-pizza {
    width: 67px;
    height: 14px;
    color: #FFF;
}


.menu-rating-line {
    width: 276px;
    opacity: 0.2;
    border: 1px solid #FFFFFF;
    margin: 16px 0 0 57px;
}
.menu-rating {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


.menu-rating-title {
    font-family: Nunito,sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
}

.menu-rating-img {
    margin: 20px 0 0 0;
}
.menu-rating-sign {
    margin: 22px 0 0 0;
}
.menu-town {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin: 16px 0 0 33px;
}
.menu-town-icon {
    margin: 5px 0 0 3px;
}

.menu-town-name {
    font-family: Nunito,sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    margin: 0 0 0 10px;
}
.menu-town-text {
    margin: 3px 0 0 58px;
    font-family: Nunito,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #FFFFFF;
    opacity: 0.5;
}


