@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');


@import "../do-desk/do-desk.css";
@media screen and (min-width: 1024px) {
    .do-main_mob {
        width: 1024px;
        display: none;
        box-sizing: border-box;
        height: auto;
    }
}
    .do-main_mob-icons {
        margin: 16px 0 0 12px;
    }

    .do-main_mob-back {
        border-radius: 8px;
    }

    .do-main_mob-sliders {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }


    .do-main_mob-card__pizza-title {
        margin: 20px 0 0 16px;
        font-family: Nunito, sans-serif;
        font-style:normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 27px;
        color: #000000;
    }

    .do-product-line-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .do-horiz-menu__btn {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0;
        margin: 41px 0 0 16px;
        width: max-content;
    }

    .do-horiz-menu__btn-item {
        background: #F3F3F7;
        border-radius: 100px;
        font-family: Nunito, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        color: #464C55;
        border: none;
    }

    .do-horiz-menu__btn-item:hover {
        background: #FFF0E6;
        border-radius: 100px;
        color: #D15700;
        font-weight: 600;
    }

    .do-main_mob-card__pizza {
        margin: 0 auto;
        width: 288px;
        height: auto;
    }

    .do-main_mob-card__combo {
        margin: 47px 0 0 16px;
        width: 100%;
        height: auto;
    }

    .do-main_mob-card__combo-title {
        font-family: Nunito, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 27px;
        color: #000000;
    }

    .do-main_mob-footer {
        width: 100%;
        height: auto;
        background: #464C55;
    }

    .do-main_mob-footer-mail-link {

        font-family: Nunito, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        text-align: right;
        text-decoration: none;
        color: #FFFFFF;
        opacity: 0.9;
    }

    .do-main_mob-footer-mail {
        padding: 20px 0 0 16px;
        width: 100%;
        height: 22px;
    }

    .do-main_mob-footer-line {
        margin: 20px 0 0 16px;
        width: 100%;
        height: 0px;
        opacity: 0.1;
        border: 1px solid #FFFFFF;
    }

    .do-main_mob-footer-section {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .footer-block-dodo {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 20px 0 0 16px;
        width: 100%;
        height: 162px;
    }

    .footer-block-work {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 20px 0 0 16px;
        width: 147px;
        height: 96px;
    }

    .footer-block-partners {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 20px 0 0 16px;
        width: 202px;
        height: 162px;
    }

    .footer-block-interest {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 20px 0 0 16px;
        width: 245px;
        height: 94px;
    }


    .do-main_mob-footer-block-title {
        height: 24px;
        font-family: Nunito, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
        text-decoration: none;
    }

    .do-main_mob-footer-block-text {
        font-family: Nunito, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
        opacity: 0.7;
        text-decoration: none;
    }

    .footer-img {
        width: 184px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        list-style: none;
        padding: 0;
        margin: 20px 0 0 15px;
    }

    .footer-img-down {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        list-style: none;
        padding: 0;
        margin: 12px auto;
        width: 301px;
    }

    .footer-block-down {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 20px 0 0 16px;
        width: 175px;
        height: 86px;
    }

    .footer-copy {
        width: 276px;
        height: 22px;
        margin: 20px 0 0 16px;
    }


    .do-main_mob-card__combo-title {
        text-align: center;
    }

    .footer-img {
        width: 184px;
    }

    .footer-img-down {
        width: 301px;
    }

    .footer-copy {
        width: 276px;
    }

@media screen and (min-width: 1024px) and (max-width: 2560px) {


    .do-desk {
        width: 100%;
    }
    .horiz-menu__btn {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: end;
        padding: 0;
        margin: 41px 0 0 16px;
    }

    .do-horiz-menu__btn-item {
        background: #F3F3F7;
        border-radius: 100px;
        font-family: Nunito, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        color: #464C55;
        border: none;
    }

    .do-horiz-menu__btn-item:hover {
        background: #FFF0E6;
        border-radius: 100px;
        color: #D15700;
        font-weight: 600;
    }

    .sliders {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .prod-card-block {
        height: 370px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .prod-card {
        width: 250px;
    }


    .prod-card-title-font {
        font-family: Nunito, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 27px;
        color: #000000;
    }

    .prod-card-text {
        font-family: Nunito, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        color: #73798C;
    }

}



